In [90]:
import pandas as pd 
import numpy as np

In [91]:
df = pd.read_csv("food.csv")
df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [92]:
df = pd.read_csv("food_.csv")
df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [93]:
df.columns

Index(['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY',
       'RATING', 'VOTES'],
      dtype='object')

In [94]:
df1.columns

Index(['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY',
       'RATING', 'VOTES'],
      dtype='object')

In [95]:
df.isnull().sum()

TITLE              0
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY              35
LOCALITY          30
RATING             2
VOTES            402
dtype: int64

In [96]:
df_=df.replace(np.NaN,0)

In [97]:
df1.isnull().sum()

TITLE              0
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY              35
LOCALITY          30
RATING             2
VOTES            402
dtype: int64

In [98]:
df1_=df.replace(np.NaN,0)

In [99]:
df_.dtypes

TITLE            object
RESTAURANT_ID     int64
CUISINES         object
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES            object
dtype: object

In [100]:
df1_.dtypes

TITLE            object
RESTAURANT_ID     int64
CUISINES         object
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES            object
dtype: object

In [101]:
data_temp = [df_[['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY','RATING', 'VOTES']],  
             df1_]

data_temp = pd.concat(data_temp)


# Analysing Titles 

titles = list(data_temp['TITLE'])

# Finding Maximum number of titles mentioned in a single cell
maxim = 1
for i in titles :
    if len(i.split(',')) > maxim:
         maxim = len(i.split(','))
         
print("\n\nMaximum Titles in a Cell : ", maxim)    

all_titles = []

for i in titles :
    if len(i.split(',')) == 1:
         all_titles.append(i.split(',')[0].strip().upper())
    else :
        for it in range(len(i.split(','))):
            all_titles.append(i.split(',')[it].strip().upper())

print("\n\nNumber of Unique Titles : ", len(pd.Series(all_titles).unique()))
print("\n\nUnique Titles:\n", pd.Series(all_titles).unique())

all_titles = list(pd.Series(all_titles).unique())

# Analysing cuisines 

cuisines = list(data_temp['CUISINES'])

maxim = 1
for i in cuisines :
    if len(i.split(',')) > maxim:
         maxim = len(i.split(','))
         
print("\n\nMaximum cuisines in a Cell : ", maxim)    

all_cuisines = []

for i in cuisines :
    if len(i.split(',')) == 1:
         #print(i.split(',')[0])
         all_cuisines.append(i.split(',')[0].strip().upper())
    else :
        for it in range(len(i.split(','))):
            #print(i.split(',')[it])
            all_cuisines.append(i.split(',')[it].strip().upper())

print("\n\nNumber of Unique Cuisines : ", len(pd.Series(all_cuisines).unique()))
print("\n\nUnique Cuisines:\n", pd.Series(all_cuisines).unique())

all_cuisines = list(pd.Series(all_cuisines).unique())

all_cities = list(data_temp['CITY'])

for i in range(len(all_cities)):
    if type(all_cities[i]) == float:
        all_cities[i] = 'NOT AVAILABLE'
    all_cities[i] = all_cities[i].strip().upper()
        
print("\n\nNumber of Unique cities (Including NOT AVAILABLE): ", len(pd.Series(all_cities).unique()))
print("\n\nUnique Cities:\n", pd.Series(all_cities).unique())
 
all_cities = list(pd.Series(all_cities).unique())

Maximum Titles in a Cell :  2


Number of Unique Titles :  25


Unique Titles:
 ['CASUAL DINING' 'QUICK BITES' 'NONE' 'FOOD TRUCK' 'DESSERT PARLOR' 'BAR'
 'LOUNGE' 'BEVERAGE SHOP' 'PUB' 'CAFÉ' 'BAKERY' 'SWEET SHOP' 'DHABA'
 'FINE DINING' 'IRANI CAFE' 'FOOD COURT' 'KIOSK' 'MESS' 'MICROBREWERY'
 'CLUB' 'COCKTAIL BAR' 'MEAT SHOP' 'CONFECTIONERY' 'PAAN SHOP'
 'BHOJANALYA']


Maximum cuisines in a Cell :  8


Number of Unique Cuisines :  112


Unique Cuisines:
 ['NORTH INDIAN' 'CHINESE' 'MUGHLAI' 'KEBAB' 'SOUTH INDIAN' 'FAST FOOD'
 'PIZZA' 'SEAFOOD' 'BIRYANI' 'KERALA' 'ICE CREAM' 'DESSERTS' 'STREET FOOD'
 'FRENCH' 'FINGER FOOD' 'CONTINENTAL' 'BBQ' 'ROLLS' 'MOMOS' 'BEVERAGES'
 'ITALIAN' 'MEXICAN' 'AMERICAN' 'ANDHRA' 'ASIAN' 'EUROPEAN' 'CAFE'
 'BAKERY' 'MEDITERRANEAN' 'CHETTINAD' 'ARABIAN' 'DRINKS ONLY' 'BURGER'
 'MITHAI' 'BENGALI' 'JAPANESE' 'SUSHI' 'MODERN INDIAN' 'BUBBLE TEA'
 'HYDERABADI' 'BURMESE' 'SANDWICH' 'THAI' 'INDIAN' 'GUJARATI' 'SALAD'
 'LUCKNOWI' '' 'HEALTHY FOOD' 'JUICES' 'MALWANI' 'NORTH EASTERN' 'IRANIAN'
 'PARSI' 'MAHARASHTRIAN' 'KONKAN' 'MANGALOREAN' 'LEBANESE' 'AFGHAN'
 'AFRICAN' 'PORTUGUESE' 'MIDDLE EASTERN' 'TEA' 'RAJASTHANI' 'PAKISTANI'
 'MONGOLIAN' 'TIBETAN' 'GRILL' 'COFFEE' 'TURKISH' 'EGYPTIAN' 'MOROCCAN'
 'SPANISH' 'KOREAN' 'ROAST CHICKEN' 'WRAPS' 'MALAYSIAN' 'STEAK'
 'CAFE FOOD' 'FISH AND CHIPS' 'BRAZILIAN' 'SOUTH AMERICAN' 'GREEK'
 'BAR FOOD' 'GOAN' 'SRI LANKAN' 'BRITISH' 'NEPALESE' 'VIETNAMESE' 'ORIYA'
 'AWADHI' 'TAMIL' 'INDONESIAN' 'BIHARI' 'TEX-MEX' 'GERMAN' 'RAW MEATS'
 'MISHTI' 'ASSAMESE' 'CHARCOAL CHICKEN' 'PANINI' 'FALAFEL' 'SINGAPOREAN'
 'CANTONESE' 'HAWAIIAN' 'PAAN' 'CUISINE VARIES' 'NAGA' 'KASHMIRI' 'VEGAN'
 'ORIENTAL' 'SINDHI']

AttributeError: 'int' object has no attribute 'strip'

In [121]:

titles = list(df_['TITLE'])

# Since Maximum number of titles in a cell is 2 will will split title in to 2 columns
T1 = []
T2 = []

for i in titles:
    T1.append(i.split(',')[0].strip().upper())
    try :
         T2.append(i.split(',')[1].strip().upper())
    except :
         T2.append('NONE')

# appending NONE to Unique titles list
all_titles.append('NONE')

#Cleaning CUISINES 

cuisines = list(df_['CUISINES'])
   
# Since Maximum number of cuisines in a cell is 8 will will split title in to 8 columns
   
C1 = []
C2 = []
C3 = []
C4 = []
C5 = []
C6 = []
C7 = []
C8 = []


for i in cuisines:
        try :
            C1.append(i.split(',')[0].strip().upper())
        except :
            C1.append('NONE')
        try :
            C2.append(i.split(',')[1].strip().upper())
        except :
            C2.append('NONE')
        try :
            C3.append(i.split(',')[2].strip().upper())
        except :
            C3.append('NONE')
        try :
            C4.append(i.split(',')[3].strip().upper())
        except :
            C4.append('NONE')
        try :
            C5.append(i.split(',')[4].strip().upper())
        except :
            C5.append('NONE')
        try :
            C6.append(i.split(',')[5].strip().upper())
        except :
            C6.append('NONE')
        try :
            C7.append(i.split(',')[6].strip().upper())
        except :
            C7.append('NONE')
        try :
            C8.append(i.split(',')[7].strip().upper())
        except :
            C8.append('NONE')

# appending NONE to Unique cuisines list
all_cuisines.append('NONE')

# Cleaning CITY

cities = list(df_['CITY'])

for i in range(len(cities)):
    if type(cities[i]) == int:
        cities[i] = 'NOT AVAILABLE'
    cities[i] = cities[i].strip().upper()
        


# Cleaning LOCALITY

localities = list(df_['LOCALITY'])

for i in range(len(localities)):
    if type(localities[i]) == float or int:
        localities[i] = 'NOT AVAILABLE'
        localities[i] = localities[i].strip().upper()   
    

#Cleaning Rating

rates = list(df_['RATING'])

for i in range(len(rates)) :
    try:
       rates[i] = float(rates[i])
    except :
       rates[i] = np.nan


# Votes
       
votes = list(df_['VOTES'])

for i in range(len(votes)) :
    try:
       votes[i] = int(votes[i].split(" ")[0].strip())
    except :
       pass       
    
    

new_data_train = {}

new_data_train['TITLE1'] = T1
new_data_train['TITLE2'] = T2
new_data_train['RESTAURANT_ID'] = df_["RESTAURANT_ID"]
new_data_train['CUISINE1'] = C1
new_data_train['CUISINE2'] = C2
new_data_train['CUISINE3'] = C3
new_data_train['CUISINE4'] = C4
new_data_train['CUISINE5'] = C5
new_data_train['CUISINE6'] = C6
new_data_train['CUISINE7'] = C7
new_data_train['CUISINE8'] = C8
new_data_train['CITY'] = cities
new_data_train['LOCALITY'] = localities
new_data_train['RATING'] = rates
new_data_train['VOTES'] = votes
#new_data_train["COST"] = df_["COST"]

new_data_train = pd.DataFrame(new_data_train)
#______________________



#______________________
# Cleaning Test Set
#______________________

# TITLE

titles = list(df1_['TITLE'])

# Since Maximum number of titles in a cell is 2 will will split title in to 2 columns
T1 = []
T2 = []

for i in titles:
    T1.append(i.split(',')[0].strip().upper())
    try :
         T2.append(i.split(',')[1].strip().upper())
    except :
         T2.append('NONE')


#Cleaning CUISINES 

cuisines = list(df1_['CUISINES'])
   
# Since Maximum number of cuisines in a cell is 8 will will split title in to 8 columns
   
C1 = []
C2 = []
C3 = []
C4 = []
C5 = []
C6 = []
C7 = []
C8 = []


for i in cuisines:
        try :
            C1.append(i.split(',')[0].strip().upper())
        except :
            C1.append('NONE')
        try :
            C2.append(i.split(',')[1].strip().upper())
        except :
            C2.append('NONE')
        try :
            C3.append(i.split(',')[2].strip().upper())
        except :
            C3.append('NONE')
        try :
            C4.append(i.split(',')[3].strip().upper())
        except :
            C4.append('NONE')
        try :
            C5.append(i.split(',')[4].strip().upper())
        except :
            C5.append('NONE')
        try :
            C6.append(i.split(',')[5].strip().upper())
        except :
            C6.append('NONE')
        try :
            C7.append(i.split(',')[6].strip().upper())
        except :
            C7.append('NONE')
        try :
            C8.append(i.split(',')[7].strip().upper())
        except :
            C8.append('NONE')


# Cleaning CITY

cities = list(df1_['CITY'])

for i in range(len(cities)):
    if type(cities[i]) == float or int:
        cities[i] = 'NOT AVAILABLE'
    cities[i] = cities[i].strip().upper()
        

# Cleaning LOCALITY

localities = list(df1_['LOCALITY'])

for i in range(len(localities)):
    if type(localities[i]) == float or int:
        localities[i] = 'NOT AVAILABLE'
    localities[i] = localities[i].strip().upper()   
    

#Cleaning Rating

rates = list(df1_['RATING'])

for i in range(len(rates)) :
    try:
       rates[i] = float(rates[i])
    except :
       rates[i] = np.nan


# Votes
       
votes = list(df1_['VOTES'])

for i in range(len(votes)) :
    try:
       votes[i] = int(votes[i].split(" ")[0].strip())
    except :
       pass       
    
    

new_data_test = {}

new_data_test['TITLE1'] = T1
new_data_test['TITLE2'] = T2
new_data_test['RESTAURANT_ID'] = df_["RESTAURANT_ID"]
new_data_test['CUISINE1'] = C1
new_data_test['CUISINE2'] = C2
new_data_test['CUISINE3'] = C3
new_data_test['CUISINE4'] = C4
new_data_test['CUISINE5'] = C5
new_data_test['CUISINE6'] = C6
new_data_test['CUISINE7'] = C7
new_data_test['CUISINE8'] = C8
new_data_test['CITY'] = cities
new_data_test['LOCALITY'] = localities
new_data_test['RATING'] = rates
new_data_test['VOTES'] = votes

new_data_test = pd.DataFrame(new_data_test)

print("\n\nnew_data_train: \n", new_data_train.head())
print("\n\nnew_data_test: \n", new_data_test.head())

new_data_train_=pd.DataFrame(new_data_train)

new_data_train:
           TITLE1 TITLE2  RESTAURANT_ID      CUISINE1   CUISINE2 CUISINE3  \
0  CASUAL DINING   NONE           4085  NORTH INDIAN    CHINESE  MUGHLAI
1    QUICK BITES   NONE          12680  SOUTH INDIAN  FAST FOOD    PIZZA
2  CASUAL DINING   NONE           1411  NORTH INDIAN    SEAFOOD  BIRYANI
3           NONE   NONE            204       BIRYANI       NONE     NONE
4    QUICK BITES   NONE          13453  SOUTH INDIAN     KERALA     NONE

       CUISINE4 CUISINE5 CUISINE6 CUISINE7 CUISINE8       CITY       LOCALITY  \
0         KEBAB     NONE     NONE     NONE     NONE      NOIDA  NOT AVAILABLE
1  NORTH INDIAN     NONE     NONE     NONE     NONE     MUMBAI  NOT AVAILABLE
2       CHINESE     NONE     NONE     NONE     NONE     MUMBAI  NOT AVAILABLE
3          NONE     NONE     NONE     NONE     NONE  FARIDABAD  NOT AVAILABLE
4          NONE     NONE     NONE     NONE     NONE      KOCHI  NOT AVAILABLE

   RATING  VOTES
0     4.3    564
1     4.2     61
2     3.8    350
3     3.8   1445
4     3.6     23


new_data_test:
           TITLE1 TITLE2  RESTAURANT_ID      CUISINE1   CUISINE2 CUISINE3  \
0  CASUAL DINING   NONE           4085  NORTH INDIAN    CHINESE  MUGHLAI
1    QUICK BITES   NONE          12680  SOUTH INDIAN  FAST FOOD    PIZZA
2  CASUAL DINING   NONE           1411  NORTH INDIAN    SEAFOOD  BIRYANI
3           NONE   NONE            204       BIRYANI       NONE     NONE
4    QUICK BITES   NONE          13453  SOUTH INDIAN     KERALA     NONE

       CUISINE4 CUISINE5 CUISINE6 CUISINE7 CUISINE8           CITY  \
0         KEBAB     NONE     NONE     NONE     NONE  NOT AVAILABLE
1  NORTH INDIAN     NONE     NONE     NONE     NONE  NOT AVAILABLE
2       CHINESE     NONE     NONE     NONE     NONE  NOT AVAILABLE
3          NONE     NONE     NONE     NONE     NONE  NOT AVAILABLE
4          NONE     NONE     NONE     NONE     NONE  NOT AVAILABLE

        LOCALITY  RATING  VOTES
0  NOT AVAILABLE     4.3    564
1  NOT AVAILABLE     4.2     61
2  NOT AVAILABLE     3.8    350
3  NOT AVAILABLE     3.8   1445
4  NOT AVAILABLE     3.6     23

In [123]:
new_data_train_=pd.DataFrame(new_data_train)
new_data_train_.head()

,TITLE1,TITLE2,RESTAURANT_ID,CUISINE1,CUISINE2,CUISINE3,CUISINE4,CUISINE5,CUISINE6,CUISINE7,CUISINE8,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,NONE,4085,NORTH INDIAN,CHINESE,MUGHLAI,KEBAB,NONE,NONE,NONE,NONE,NOIDA,NOT AVAILABLE,4.3,564
1,QUICK BITES,NONE,12680,SOUTH INDIAN,FAST FOOD,PIZZA,NORTH INDIAN,NONE,NONE,NONE,NONE,MUMBAI,NOT AVAILABLE,4.2,61
2,CASUAL DINING,NONE,1411,NORTH INDIAN,SEAFOOD,BIRYANI,CHINESE,NONE,NONE,NONE,NONE,MUMBAI,NOT AVAILABLE,3.8,350
3,NONE,NONE,204,BIRYANI,NONE,NONE,NONE,NONE,NONE,NONE,NONE,FARIDABAD,NOT AVAILABLE,3.8,1445
4,QUICK BITES,NONE,13453,SOUTH INDIAN,KERALA,NONE,NONE,NONE,NONE,NONE,NONE,KOCHI,NOT AVAILABLE,3.6,23

In [126]:

from sklearn.preprocessing import LabelEncoder

le_titles = LabelEncoder()
le_cuisines = LabelEncoder()

le_city = LabelEncoder()

le_locality = LabelEncoder()


le_titles.fit(all_titles)
le_cuisines.fit(all_cuisines)

le_city.fit(all_cities)
le_locality.fit(all_localities)



# Training Set  

new_data_train['TITLE1'] = le_titles.transform(new_data_train['TITLE1'])
new_data_train['TITLE2'] = le_titles.transform(new_data_train['TITLE2'])


new_data_train['CUISINE1'] = le_cuisines.transform(new_data_train['CUISINE1'])
new_data_train['CUISINE2'] = le_cuisines.transform(new_data_train['CUISINE2'])
new_data_train['CUISINE3'] = le_cuisines.transform(new_data_train['CUISINE3'])
new_data_train['CUISINE4'] = le_cuisines.transform(new_data_train['CUISINE4'])
new_data_train['CUISINE5'] = le_cuisines.transform(new_data_train['CUISINE5'])
new_data_train['CUISINE6'] = le_cuisines.transform(new_data_train['CUISINE6'])
new_data_train['CUISINE7'] = le_cuisines.transform(new_data_train['CUISINE7'])
new_data_train['CUISINE8'] = le_cuisines.transform(new_data_train['CUISINE8'])


new_data_train['CITY'] = le_city.transform(new_data_train['CITY'])
new_data_train['LOCALITY'] = le_locality.transform(new_data_train['LOCALITY'])

# Test Set

new_data_test['TITLE1'] = le_titles.transform(new_data_test['TITLE1'])
new_data_test['TITLE2'] = le_titles.transform(new_data_test['TITLE2'])


new_data_test['CUISINE1'] = le_cuisines.transform(new_data_test['CUISINE1'])
new_data_test['CUISINE2'] = le_cuisines.transform(new_data_test['CUISINE2'])
new_data_test['CUISINE3'] = le_cuisines.transform(new_data_test['CUISINE3'])
new_data_test['CUISINE4'] = le_cuisines.transform(new_data_test['CUISINE4'])
new_data_test['CUISINE5'] = le_cuisines.transform(new_data_test['CUISINE5'])
new_data_test['CUISINE6'] = le_cuisines.transform(new_data_test['CUISINE6'])
new_data_test['CUISINE7'] = le_cuisines.transform(new_data_test['CUISINE7'])
new_data_test['CUISINE8'] = le_cuisines.transform(new_data_test['CUISINE8'])


new_data_test['CITY'] = le_city.transform(new_data_test['CITY'])
new_data_test['LOCALITY'] = le_locality.transform(new_data_test['LOCALITY'])


# Classifying Independent and Dependent Features
#____________________

ValueError: y contains previously unseen labels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24]